<html>
<head>
    <meta charset="utf-8">
    <title>{ifset title}{include title|striptags} | {/ifset}TODO UNIT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- Icon -->
    <link rel="shortcut icon" href="{$basePath}/images/unit-logo.ico">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css"
          integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="{$basePath}/css/mycss.css">

    <!-- Forms -->
    <link rel="stylesheet" href="{$basePath}/css/forms.css">

</head>

<body>
<nav class="navbar sticky-top navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">TODO</a>
        </div>
        <div class="form-inline navbar-right">
            <a n:href="Homepage:" class="ajax" onclick="goHome()"><span class="header-button"></span><i
                        class="fas fa-home my-margin-right-long header-button"></i></a>
            {snippet loginButton}
                {if ($user->isLoggedIn())}
                    <a n:href="Homepage:account" class="ajax" onclick="toAccount()"><span class="header-button"></span><i
                                class="fas fa-user-circle my-margin-right header-button"></i></a>
                {else}
                    <a n:href="Homepage:login" class="ajax" onclick="toLogin2()"><span class="header-button"></span><i
                                class="fas fa-user-circle my-margin-right header-button"></i></a>
                {/if}
            {/snippet}
        </div>
    </div>
</nav>

<!-- Sidebar -->
<div class="wrapper">
    <nav id="sidebar">
        {snippet contentSnippet}
            {include content}
        {/snippet}

    </nav>


    <div id="content">
        {$mapHelper|noescape}
        {$mapApiHelper|noescape}
        <button type="button" id="sidebarCollapse" class="navbar-btn buttonek">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

<script src="{$basePath}/js/nette.ajax.js"></script>
<script src="{$basePath}/js/myjs.js"></script>
<script src="{$basePath}/js/myURL.js"></script>
<script>
    $(function () {
        $.nette.init();
    });
</script>
<script>
    function fbAfterLogin() {
        $.nette.ajax({
            url: {link FacebookCookie!}
        });
    }

</script>

<script>
    $(function () {

        $('a.ajax').live('click', function () {
            $.get(this.href);
            return false; // aby se nepreslo na novou adresu
        });
    });
</script>
{snippet fbSnippet}
<script src="//connect.facebook.net/en_US/all.js"></script>
<script>
    var preLocation;
    var infowindow = null;
    var mhdMarkers = [];
    var mhdInterval;

    FB.init({
        appId: '356707758145198',
        status: true,
        cookie: true,
        xfbml: true,
        channelUrl: 'https://unitbrno.psopf.cz/',
        oauth: true
    });
</script>
{/snippet}

<script n:syntax="off">
    function savePreLocation() {
        preLocation = map.getCenter();
    }

    function checkIfInArea() {
        if (window.allowedBounds.contains(map.getCenter())) {
            return;
        }

        if (window.allowedBounds.contains(preLocation)) {
            map.setCenter(preLocation);
        }
        else {
            map.setCenter(window.allowedBounds.getCenter());
        }
    }

    function resize_map() {
        var center = map.getCenter();
        google.maps.event.trigger(map, "resize");
        map.setCenter(center);
    }

    function makeInfoWindowEvent(map, infowindow, contentString, marker) {
        google.maps.event.addListener(map, "click", function (event) {
            infowindow.close();
        });

        google.maps.event.addListener(marker, 'click', function () {
            infowindow.setContent(contentString);
            infowindow.open(map, marker);
        });
    }

    function getBusMarkers() {
        if (typeof mhdInterval != "number") {
            getMhdMarkers();
            mhdInterval = setInterval(function () {
                getMhdMarkers();
            }, 5000);
        }
    }

    function getMhdMarkers() {
        jQuery.ajax({
            url: "https://unitbrno.psopf.cz/Api/mhd",
            type: "GET",

            contentType: 'application/json; charset=utf-8',
            success: function (resultData) {
                mhdMarkers.forEach(function (marker) {
                    marker.setMap(null);
                });

                mhdMarkers = [];

                data = jQuery.parseJSON(resultData);

                data.forEach(function (entry) {
                    if (entry.route >= 1 && entry.route <= 20) {
                        mhdName = "Tramvaj";
                        image = "train";
                    }
                    else if (entry.route >= 20 && entry.route <= 39) {
                        mhdName = "Trolejbus";
                        image = "bus";
                    }
                    else {
                        mhdName = "Bus";
                        image = "bus";
                    }

                    myLatLng = {lat: entry.latitude, lng: entry.longitude};

                    marker = new google.maps.Marker({
                        position: myLatLng,
                        icon: "https://unitbrno.psopf.cz/images/" + image + ".png"
                    });

                    infowindow = new google.maps.InfoWindow();
                    makeInfoWindowEvent(map, infowindow, "<strong>" + mhdName + " č. " + entry.route + "</strong><br>" + entry.headsign, marker);

                    marker.setMap(map);
                    mhdMarkers.push(marker);
                });
            },
            error: function (jqXHR, textStatus, errorThrown) {
            },

            timeout: 1000,
        });
    }
</script>

</body>
</html>